<div class="container-fluid">
  <div class="row">
    <div class="col-3 mt-5">
      <a routerLink="/"> <i class="fas fa-home fa-5x"></i> </a>
    </div>
    <div class="col-6">
      <img width="300" class="img-fluid rounded mx-auto d-block" alt="Angular Logo" src="{{env.myVarForImageURLS}}/images/movie night logo.jpg">
      <div class="row offset-md-2">
        <h2><i class="mr-1 far fa-clock"></i>{{nowDate}}<i class="ml-1 far fa-clock"></i></h2>
      </div>
    </div>
    <div class="col-3 d-inline-flex justify-content-end mt-4">

      <h4 class="p-2 mt-4">Sign in</h4>

      <a class="p-2" href="http://localhost:8080/googlelogin"> <i class="fas fa-sign-in-alt fa-5x"></i> </a>

    </div>
  </div>
</div>




<hr>